#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

p {
  font-family: "Nunito Sans", sans-serif;
  font-optical-sizing: auto;
}

.novel-paragraph::first-letter {
  font-size: 3rem;
  /* Adjust the size as needed */
  font-weight: bold;
  float: left;
  line-height: 1;
  padding-right: 0.1em;
}


@tailwind base;
@tailwind components;
@tailwind utilities;